.midtile{
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    display:grid;
    transition:.5s ease all;
}
.midtile:hover{
box-shadow:4px 10px 11px 6px rgba(86, 83, 83, 0.1);
}
.titleWrp{border-bottom:2px solid #337ab7;padding-bottom:12px;}
.titleWrp h2{font-size:30px;padding-bottom:7px;}
.titleWrp .floatLeft{font-size:10px;}
.titleWrp .floatRight{font-size:35px;color:#2285a0;}
.midtile .rcttask{font-size:12px;padding:10px 0 5px;}
